
<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from wrraptheme.com/templates/aero/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Apr 2022 06:52:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>:: Aero Bootstrap4 Admin :: Jquery DataTables</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="~/AdminAssets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminAssets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" />
    <!-- Morris Chart Css-->
    <link rel="stylesheet" href="~/AdminAssets/plugins/morrisjs/morris.css" />
    <!-- Colorpicker Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <!-- Multi Select Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/multi-select/css/multi-select.css">
    <!-- Bootstrap Spinner Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/jquery-spinner/css/bootstrap-spinner.css">
    <!-- Bootstrap Tagsinput Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <!-- Bootstrap Select Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/bootstrap-select/css/bootstrap-select.css" />
    <!-- noUISlider Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/nouislider/nouislider.min.css" />

    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/select2/select2.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/AdminAssets/css/style.min.css">
    @*<script src="~/CustomJS/SweetAlert.js"></script>*@
   
</head>

<body class="theme-blush">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="~/AdminAssets/images/loader.svg" width="48" height="48" alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Right Icon menu Sidebar -->
    <div class="navbar-right">
        <ul class="navbar-nav">
            <button type="submit" class="btn btn-primary rv-btn-toggle"><i class="zmdi zmdi-settings"></i></button>
            <li><a href="#search" class="main_search" title="Search..."><i class="zmdi zmdi-search"></i></a></li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" title="App" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
                <ul class="dropdown-menu slideUp2">
                    <li class="header">@Session["Email"]</li>
                    <li class="body">
                        <ul class="menu app_sortcut list-unstyled">
                            <li>
                                <a href="@Url.Action("ProfileView","Dashboard")">
                                    <div class="icon-circle mb-2 bg-blue"><i class="zmdi zmdi-pin-account"></i></div>
                                    <p class="mb-0">Profile</p>
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("ProfileEdit","Dashboard")">
                                    <div class="icon-circle mb-2 bg-amber"><i class="zmdi zmdi-edit"></i></div>
                                    <p class="mb-0">Edit Profile</p>
                                </a>
                            </li>
                            <li>

                                <a href="@Url.Action("SignOut","Dashboard")">
                                    <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-power-off"></i></div>
                                    <p class="mb-0">SignOut</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="sign-in.html" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
        </ul>
    </div>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
            <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
            <a href="index.html"><img src="~/AdminAssets/images/logo.svg" width="25" alt="Aero"><span class="m-l-10">Aero</span></a>
        </div>
        <div class="menu">
            <ul class="list">
                <li>
                        <div class="user-info">
                            <a class="image" href="@Url.Action("ProfileView","Dashboard")"><img src="../../../../UploadImage/@Session["Image"]" alt="User"></a>
                            <div class="detail">
                                <h6>@Session["Name"]</h6>
                                <small>Super Admin</small>
                            </div>
                        </div>
                    </li>
                <li class="active open"><a href="@Url.Action("DetailDashboard","DashBoard")"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                <li><a href="@Url.Action("Dashboard","Dashboard")"><i class="far fa-plane"></i><span>Reservation</span></a></li>
                <li><a href="@Url.Action("AddAirLine","AirLine")"><i class="far fa-plane"></i><span>AirLine</span></a></li>
                <li><a href="@Url.Action("AddCountry","Country")"><i class="far fa-globe"></i><span>Country</span></a></li>
                <li><a href="@Url.Action("AddProvince","Province")"><i class="far fa-map"></i><span>Province</span></a></li>
                <li><a href="@Url.Action("AddCity","City")"><i class="far fa-city"></i><span>City</span></a></li>
                <li><a href="@Url.Action("AddAirPort","AirPort")"><i class=""></i><span>AirPort</span></a></li>
                <li><a href="@Url.Action("AddCabin","Cabin")"><i ></i><span>Cabin</span></a></li>
                <li><a href="@Url.Action("AddFare","Fare")"><i></i><span>Fare</span></a></li>
                <li><a href="@Url.Action("AddSchedule","Schedule")"><i></i><span>Schedule</span></a></li>
                <li><a href="@Url.Action("AddRoute","Route")"><i></i><span>Route</span></a></li>
            </ul>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs sm">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat"><i class="zmdi zmdi-comments"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Theme Option</h6>
                        <div class="light_dark">
                            <div class="radio">
                                <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                <label for="lighttheme">Light Mode</label>
                            </div>
                            <div class="radio mb-0">
                                <input type="radio" name="radio1" id="darktheme" value="dark">
                                <label for="darktheme">Dark Mode</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h6>Color Skins</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple"><div class="purple"></div></li>
                            <li data-theme="blue"><div class="blue"></div></li>
                            <li data-theme="cyan"><div class="cyan"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange"><div class="orange"></div></li>
                            <li data-theme="blush" class="active"><div class="blush"></div></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h6>General Settings</h6>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <div class="checkbox rtl_support">
                                    <input id="checkbox1" type="checkbox" value="rtl_view">
                                    <label for="checkbox1">RTL Version</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox ms_bar">
                                    <input id="checkbox2" type="checkbox" value="mini_active">
                                    <label for="checkbox2">Mini Sidebar</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox3" type="checkbox" checked="">
                                    <label for="checkbox3">Notifications</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">Auto Updates</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox5" type="checkbox" checked="">
                                    <label for="checkbox5">Offline</label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <input id="checkbox6" type="checkbox" checked="">
                                    <label for="checkbox6">Location Permission</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane right_chat" id="chat">
                <div class="slim_scroll">
                    <div class="card">
                        <ul class="list-unstyled">
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/AdminAssets/images/xs/avatar4.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Sophia <small class="float-right">11:00AM</small></span>
                                            <span class="message">There are many variations of passages of Lorem Ipsum available</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/AdminAssets/images/xs/avatar5.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Grayson <small class="float-right">11:30AM</small></span>
                                            <span class="message">All the Lorem Ipsum generators on the</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="offline">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/AdminAssets/images/xs/avatar2.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Isabella <small class="float-right">11:31AM</small></span>
                                            <span class="message">Contrary to popular belief, Lorem Ipsum</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="me">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/AdminAssets/images/xs/avatar1.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">John <small class="float-right">05:00PM</small></span>
                                            <span class="message">It is a long established fact that a reader</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="online">
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <img class="media-object " src="~/AdminAssets/images/xs/avatar3.jpg" alt="">
                                        <div class="media-body">
                                            <span class="name">Alexander <small class="float-right">06:08PM</small></span>
                                            <span class="message">Richard McClintock, a Latin professor</span>
                                            <span class="badge badge-outline status"></span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <section class="content">
        @RenderBody()
    </section>




    <!-- Jquery Core Js -->
    <script src="~/AdminAssets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/AdminAssets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <!--IziToast.js Start-->
    <!--IziToast.js End-->

    <script src="~/AdminAssets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->
    <script src="~/AdminAssets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script> <!-- Input Mask Plugin Js -->
    <script src="~/AdminAssets/plugins/multi-select/js/jquery.multi-select.js"></script> <!-- Multi Select Plugin Js -->
    <script src="~/AdminAssets/plugins/jquery-spinner/js/jquery.spinner.js"></script> <!-- Jquery Spinner Plugin Js -->
    <script src="~/AdminAssets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script> <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/AdminAssets/plugins/nouislider/nouislider.js"></script> <!-- noUISlider Plugin Js -->
    <script src="~/AdminAssets/plugins/select2/select2.min.js"></script> <!-- Select2 Js -->
    <script src="~/AdminAssets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="~/AdminAssets/js/pages/forms/advanced-form-elements.js"></script>

    <!-- Jquery DataTable Plugin Js -->

    <script src="~/AdminAssets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/AdminAssets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/AdminAssets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="~/AdminAssets/js/pages/tables/jquery-datatable.js"></script>

    <script src="~/AdminAssets/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/AdminAssets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/AdminAssets/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
    <script src="~/AdminAssets/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->

    <script src="~/AdminAssets/bundles/mainscripts.bundle.js"></script>
    <script src="~/AdminAssets/js/pages/ecommerce.js"></script>
    <script src="~/AdminAssets/js/pages/charts/jquery-knob.min.js"></script>

</body>

</html>

